In [1]:
from Bio import pairwise2

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5 pos and neg_seq_cell_count.xlsx', header=0)

In [4]:
data.head()

,TARGET,CELL LINE,SEQUENCE,FREQ,POSITIVE / NEGATIVE,Target sequence
0,EMX1,K562,GAGTCCGAGCAGAAGAAGAAGGG,1.000000,1,GAGTCCGAGCAGAAGAAGAANGG
1,EMX1,K562,AAGGCCAAGCAGAAGAGTAATGG,0.708738,1,GAGTCCGAGCAGAAGAAGAANGG
2,EMX1,K562,GAGGCCGAGCAGAAGAAAGACGG,0.650485,1,GAGTCCGAGCAGAAGAAGAANGG
3,EMX1,K562,GAGTCCTAGCAGGAGAAGAAGAG,0.601942,1,GAGTCCGAGCAGAAGAAGAANGG
4,EMX1,K562,GAAGTAGAGCAGAAGAAGAAGCG,0.582524,1,GAGTCCGAGCAGAAGAAGAANGG

In [5]:
data.shape

(153924, 6)

In [6]:
m,_ = data.shape

In [7]:
seq_no = []
score = []
offt = []
t = [] #target sequence list
length = [] # length of offtarget

In [8]:
#preprocess sequences to remove any preexisting dashes (previous alignment results)
import sys
err = [] #list to identify error positions

for i in range(m):
    s1 = data.loc[i]['SEQUENCE']
    s2 = data.loc[i]['Target sequence']
    offt.append(''.join(s1.split('-')))
    t.append(''.join(s2.split('-')))

In [9]:
offt_aligned = []
t_aligned = []
off_pam = []

for i in range(m):   
    str1= data.loc[i]['SEQUENCE'][:-3] #exclude PAM from alignment
    str2= data.loc[i]['Target sequence'][:-3]
    align = pairwise2.align.globalms(str1,str2,2,-1,-18,-6, one_alignment_only=True)[0]
    score.append(align[3])
    offt_aligned.append(align[0])
    t_aligned.append(align[1])
    length.append(len(align[0]))
    seq_no.append(i+1)
    off_pam.append(data.loc[i]['SEQUENCE'][-3:])

In [10]:
data['Aligned off-target'] = offt_aligned
data['Aligned off-t PAM'] = off_pam
data['Aligned target'] = t_aligned
data['length of aligned off-t'] = length
data['Alignment score'] = score
data.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5 pos and neg dataset-aligned.xlsx',index=False, header=True)