# position-wise mismatch tolerance and nucleotide preference

In [1]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7 subset-only pos_trimmed.xlsx') #N-padded and aligned
df.head()

,TARGET,CELL LINE,N-padded off-target,off-target label,N-padded target,target label,FREQ,Y
0,EMX1,K562,GAGTCAGAGAGAGAAGAAGAAGAG,off_1,GAGTCCGAG-CAGAAGAAGAANGG,target_1,0.038835,1
1,EMX1,K562,GAGGCAGAGCAAGAAGAAAAAAGG,off_2,GAGTCCGAGC-AGAAGAAGAANGG,target_2,0.038835,1
2,HEK_2,HEK293,AAACACAAAGACATAGACCACTGG,off_3,GAACACAAAG-CATAGACTGCNGG,target_3,0.037714,1
3,HEK_2,HEK293,GTACACAAAACATAAGACTGCTGG,off_4,GAACACAAAGCAT-AGACTGCNGG,target_4,0.020571,1
4,HEK_2,K562,AAACACAAAGACATAGACCACTGG,off_5,GAACACAAAG-CATAGACTGCNGG,target_5,0.021798,1

In [3]:
dt = pd.read_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5 subset-pos seq_cell_count.xlsx') #not N-padded
dt.head()

,TARGET,CELL LINE,SEQUENCE,FREQ,POSITIVE / NEGATIVE,Target sequence
0,EMX1,K562,GAGTCCGAGCAGAAGAAGAAGGG,1.000000,1,GAGTCCGAGCAGAAGAAGAANGG
1,EMX1,K562,AAGGCCAAGCAGAAGAGTAATGG,0.708738,1,GAGTCCGAGCAGAAGAAGAANGG
2,EMX1,K562,GAGGCCGAGCAGAAGAAAGACGG,0.650485,1,GAGTCCGAGCAGAAGAAGAANGG
3,EMX1,K562,GAGTCCTAGCAGGAGAAGAAGAG,0.601942,1,GAGTCCGAGCAGAAGAAGAANGG
4,EMX1,K562,GAAGTAGAGCAGAAGAAGAAGCG,0.582524,1,GAGTCCGAGCAGAAGAAGAANGG

In [4]:
len(dt.loc[:]["SEQUENCE"])

7190

In [5]:
pos = []
mm = []
seq = []

for i in range(7190):
    if len(dt.loc[i]["SEQUENCE"]) ==len(dt.loc[i]["Target sequence"]):
        for j in range(23):
            pos.append(j)
            seq.append(i)
            if ((dt.loc[i]["SEQUENCE"][j] == dt.loc[i]["Target sequence"][j]) or dt.loc[i]["Target sequence"][j]=='N'):
                mm.append(0)
            else:
                mm.append(1)

In [6]:
print(pos[23], len(pos), max(pos), min(pos))

0 163254 22 0

In [7]:
p = []
m = []
n = []

for i in range(23):
    p.append(i)
    count_match=0
    count_mismatch=0
    for j in range(len(pos)):
        if (pos[j] == i and mm[j] == 0):
            count_match+=1
        elif (pos[j] == i and mm[j] == 1):
            count_mismatch+=1
    m.append(count_match)
    n.append(count_mismatch)

In [8]:
dt_out = pd.DataFrame(list(zip(p,m,n)), columns=['position', '#matches', '#mm'])
dt_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_mismatch-tol-out.xlsx', index=False, header=True)

# base-specific trend in original (unaligned) sequences

In [46]:
#if nt does not occur at that position->0, no mismatch->1, mismatch-> mm nt appended

pos = []
a_m = [] #mismatches when A is target nucleotide
g_m = []
t_m = []
c_m = []

for i in range(7190):
    if len(dt.loc[i]["SEQUENCE"]) ==len(dt.loc[i]["Target sequence"]):
        for j in range(23):
            pos.append(j)
            
            if ((dt.loc[i]["Target sequence"][j] == 'A') and (dt.loc[i]["Target sequence"][j] != dt.loc[i]["SEQUENCE"][j])):
                a_m.append(dt.loc[i]["SEQUENCE"][j])
                g_m.append(0)
                c_m.append(0)
                t_m.append(0)
            
            elif ((dt.loc[i]["Target sequence"][j] == 'G') and (dt.loc[i]["Target sequence"][j] != dt.loc[i]["SEQUENCE"][j])):
                g_m.append(dt.loc[i]["SEQUENCE"][j])
                c_m.append(0)
                t_m.append(0)
                a_m.append(0)
                
            elif ((dt.loc[i]["Target sequence"][j] == 'T') and (dt.loc[i]["Target sequence"][j] != dt.loc[i]["SEQUENCE"][j])):
                t_m.append(dt.loc[i]["SEQUENCE"][j])
                a_m.append(0)
                g_m.append(0)
                c_m.append(0)
                
            elif ((dt.loc[i]["Target sequence"][j] == 'C') and (dt.loc[i]["Target sequence"][j] != dt.loc[i]["SEQUENCE"][j])):
                c_m.append(dt.loc[i]["SEQUENCE"][j])
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            
            elif ((dt.loc[i]["Target sequence"][j] == 'A') and (dt.loc[i]["Target sequence"][j] == dt.loc[i]["SEQUENCE"][j])): 
                a_m.append(1)
                c_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((dt.loc[i]["Target sequence"][j] == 'C') and (dt.loc[i]["Target sequence"][j] == dt.loc[i]["SEQUENCE"][j])): 
                c_m.append(1)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((dt.loc[i]["Target sequence"][j] == 'G') and (dt.loc[i]["Target sequence"][j] == dt.loc[i]["SEQUENCE"][j])): 
                g_m.append(1)
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
            elif ((dt.loc[i]["Target sequence"][j] == 'T') and (dt.loc[i]["Target sequence"][j] == dt.loc[i]["SEQUENCE"][j])): 
                t_m.append(1)
                c_m.append(0)
                a_m.append(0)
                g_m.append(0)
            
            else:
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)

In [47]:
dt_out = pd.DataFrame(list(zip(pos,a_m,c_m,g_m,t_m)), columns=['position', 'A_mm', 'C_mm', 'G_mm', 'T_mm'])
dt_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_nt-mismatch-tol-out.xlsx', index=False, header=True)

In [57]:
#compile base-specific trend when target has nt T at each position
T = []
A = []
G = []
C = []
I = []

for i in range(23):
    a = 0
    c = 0
    g = 0
    t = 0
    for j in range(len(pos)):
        if (pos[j]==i and t_m[j]!=0):
            if (t_m[j]==1): t+=1
            elif (t_m[j] == 'A'): a+=1
            elif (t_m[j] == 'C'): c+=1
            elif (t_m[j] == 'G'): g+=1
        
    I.append(i+1)
    A.append(a)
    C.append(c)
    G.append(g)
    T.append(t)

In [58]:
dt_out = pd.DataFrame(list(zip(I,A,C,G,T)), columns=['position','A_mm', 'C_mm', 'G_mm', 'T'])
dt_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_T-nt-mismatch-tol-out.xlsx', index=False, header=True)

# frequency weighted mismatch tolerance

In [59]:
new = [] #sequences occurring as many times as their freq
target = [] #for reference target sequence
label = []

for i in range(7190):
    n=int(round(dt.loc[i]['FREQ']*1000))
    #n=int(round(df.loc[i]['Norm reads']*500))
    #n=int(round(df.loc[i]['Norm reads']*300))
    for j in range(n):
        new.append(dt.loc[i]['SEQUENCE'])
        target.append(dt.loc[i]['Target sequence'])
        label.append(i)

In [60]:
target[8]

'GAGTCCGAGCAGAAGAAGAANGG'

In [61]:
pos = []
mm = []
seq = []
tnt = [] #target nt
ont = [] #off-target nt

for i in range(len(target)):
    if len(new[i]) ==len(target[i]):
        for j in range(23):
            pos.append(j)
            seq.append(i)
            tnt.append(target[i][j])
            ont.append(new[i][j])
            if ((new[i][j] == target[i][j]) or target[i][j]=='N'):
                mm.append(0)
            else:
                mm.append(1)

In [62]:
p = []
m = []
n = []

for i in range(23):
    p.append(i)
    count_match=0
    count_mismatch=0
    for j in range(len(pos)):
        if (pos[j] == i and mm[j] == 0):
            count_match+=1
        elif (pos[j] == i and mm[j] == 1):
            count_mismatch+=1
    m.append(count_match)
    n.append(count_mismatch)

In [63]:
wt_dt_out = pd.DataFrame(list(zip(p,m,n)), columns=['position', '#matches', '#mm'])
wt_dt_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_weighted-mismatch-tol-out.xlsx', index=False, header=True)

# weighted base-specific trend

In [67]:
pos = []
a_m = [] #mismatches when A is target nucleotide
g_m = []
t_m = []
c_m = []

for i in range(len(new)):
    if len(new[i]) ==len(target[i]):
        for j in range(23):
            pos.append(j)
            
            if ((target[i][j] == 'A') and (target[i][j] != new[i][j])):
                a_m.append(new[i][j])
                g_m.append(0)
                c_m.append(0)
                t_m.append(0)
            
            elif ((target[i][j] == 'G') and (target[i][j] != new[i][j])):
                g_m.append(new[i][j])
                c_m.append(0)
                t_m.append(0)
                a_m.append(0)
                
            elif ((target[i][j] == 'T') and (target[i][j] != new[i][j])):
                t_m.append(new[i][j])
                a_m.append(0)
                g_m.append(0)
                c_m.append(0)
                
            elif ((target[i][j] == 'C') and (target[i][j] != new[i][j])):
                c_m.append(new[i][j])
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
                
            elif ((target[i][j] == 'C') and (target[i][j] == new[i][j])):
                c_m.append(1)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
                
            elif ((target[i][j] == 'A') and (target[i][j] == new[i][j])):
                a_m.append(1)
                g_m.append(0)
                c_m.append(0)
                t_m.append(0)
            
            elif ((target[i][j] == 'G') and (target[i][j] == new[i][j])):
                g_m.append(1)
                c_m.append(0)
                t_m.append(0)
                a_m.append(0)
                
            elif ((target[i][j] == 'T') and (target[i][j] == new[i][j])):
                t_m.append(1)
                a_m.append(0)
                g_m.append(0)
                c_m.append(0)
            
            else:
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)

In [68]:
dt_out = pd.DataFrame(list(zip(pos,a_m,c_m,g_m,t_m)), columns=['position', 'A_mm', 'C_mm', 'G_mm', 'T_mm'])
dt_out.to_csv(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_nt-weighted-mismatch-tol-out.csv', index=False, header=True)

In [77]:
#compile base-specific trend when target has nt G at each position
T = []
A = []
G = []
C = []
I = []

for i in range(23):
    a = 0
    c = 0
    g = 0
    t = 0
    for j in range(len(pos)):
        if (pos[j]==i and g_m[j]!=0):
            if (g_m[j]==1): g+=1
            elif (g_m[j] == 'C'): c+=1
            elif (g_m[j] == 'A'): a+=1
            elif (g_m[j] == 'T'): t+=1
        
    I.append(i+1)
    A.append(a)
    C.append(c)
    G.append(g)
    T.append(t)

In [78]:
dt_out = pd.DataFrame(list(zip(I,A,C,G,T)), columns=['position','A_mm', 'C_mm', 'G', 'T_mm'])
dt_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\5-subset-pos-set_wt-G-nt-mismatch-tol-out.xlsx', index=False, header=True)

# Same analysis as above, but for aligned sequences
## to incorporate indel information

In [97]:
df.head()

,TARGET,CELL LINE,N-padded off-target,off-target label,N-padded target,target label,FREQ,Y
0,EMX1,K562,GAGTCAGAGAGAGAAGAAGAAGAG,off_1,GAGTCCGAG-CAGAAGAAGAANGG,target_1,0.038835,1
1,EMX1,K562,GAGGCAGAGCAAGAAGAAAAAAGG,off_2,GAGTCCGAGC-AGAAGAAGAANGG,target_2,0.038835,1
2,HEK_2,HEK293,AAACACAAAGACATAGACCACTGG,off_3,GAACACAAAG-CATAGACTGCNGG,target_3,0.037714,1
3,HEK_2,HEK293,GTACACAAAACATAAGACTGCTGG,off_4,GAACACAAAGCAT-AGACTGCNGG,target_4,0.020571,1
4,HEK_2,K562,AAACACAAAGACATAGACCACTGG,off_5,GAACACAAAG-CATAGACTGCNGG,target_5,0.021798,1

In [98]:
r, c = df.shape

In [120]:
df.iloc[1][4][21]

'N'

In [121]:
pos = []
mm = []
seq = []

for i in range(r):
        for j in range(len(df.iloc[i][2])):
            pos.append(j)
            seq.append(i)
            if ((df.iloc[i][2][j] == df.loc[i][4][j]) or j == 21):
                mm.append(0)
            elif (df.iloc[i][2][j]=='-' or df.iloc[i][4][j]=='-'):
                mm.append(2)
            else:
                mm.append(1)

In [122]:
print(pos[30], len(pos), max(pos), max(mm))

6 172560 23 2

In [123]:
p = []
m = []
n = []
d = []

for i in range(24):
    p.append(i)
    count_match=0
    count_mismatch=0
    count_indel=0
    for j in range(len(pos)):
        if (pos[j] == i and mm[j] == 0):
            count_match+=1
        elif (pos[j] == i and mm[j] == 1):
            count_mismatch+=1
        elif (pos[j] == i and mm[j] == 2):
            count_indel+=1
    m.append(count_match)
    n.append(count_mismatch)
    d.append(count_indel)

In [124]:
df_out = pd.DataFrame(list(zip(p,m,n,d)), columns=['position', '#matches', '#mm', '#indels'])
df_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_mismatch-tol-out.xlsx', index=False, header=True)

# base-specific trend

In [148]:
#if nt does not occur at that position->0, no mismatch->1, mismatch-> mm nt appended

pos = []
a_m = [] #mismatches when A is target nucleotide
g_m = []
t_m = []
c_m = []

for i in range(r):
        for j in range(24):
            pos.append(j)
            
            if ((df.iloc[i][4][j] == 'A') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                a_m.append(df.iloc[i][2][j])
                g_m.append(0)
                c_m.append(0)
                t_m.append(0)
            
            elif ((df.iloc[i][4][j] == 'G') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                g_m.append(df.iloc[i][2][j])
                c_m.append(0)
                t_m.append(0)
                a_m.append(0)
                
            elif ((df.iloc[i][4][j] == 'T') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                t_m.append(df.iloc[i][2][j])
                a_m.append(0)
                g_m.append(0)
                c_m.append(0)
                
            elif ((df.iloc[i][4][j] == 'C') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                c_m.append(df.iloc[i][2][j])
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            
            elif ((df.iloc[i][4][j] == 'A') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                a_m.append(1)
                c_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((df.iloc[i][4][j] == 'C') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                c_m.append(1)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((df.iloc[i][4][j] == 'G') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                g_m.append(1)
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
            elif ((df.iloc[i][4][j] == 'T') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                t_m.append(1)
                c_m.append(0)
                a_m.append(0)
                g_m.append(0)
            
            else:
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)

In [149]:
df_out = pd.DataFrame(list(zip(pos,a_m,c_m,g_m,t_m)), columns=['position', 'A_mm', 'C_mm', 'G_mm', 'T_mm'])
df_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_nt-mismatch-tol-out.xlsx', index=False, header=True)

In [159]:
#compile base-specific trend when target has nt T at each position
T = []
A = []
G = []
C = []
I = []
D = []

for i in range(24):
    a = 0
    c = 0
    g = 0
    t = 0
    d = 0
    for j in range(len(pos)):
        if (pos[j]==i and t_m[j]!=0):
            if (t_m[j]==1): t+=1
            elif (t_m[j]=='-'): d+=1
            elif (t_m[j] == 'A'): a+=1
            elif (t_m[j] == 'C'): c+=1
            elif (t_m[j] == 'G'): g+=1
        
    I.append(i+1)
    A.append(a)
    C.append(c)
    G.append(g)
    T.append(t)
    D.append(d)

In [160]:
df_out = pd.DataFrame(list(zip(I,A,C,G,T,D)), columns=['position','A_mm', 'C_mm', 'G_mm', 'T',"indels"])
df_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_T-nt-mismatch-tol-out.xlsx', index=False, header=True)

# frequency weighted mismatch tolerance for aligned seqs

In [142]:
new = [] #sequences occurring as many times as their freq
target = [] #for reference target sequence
label = []

for i in range(r):
    n=int(round(df.loc[i]['FREQ']*1000))
    #n=int(round(df.loc[i]['Norm reads']*500))
    #n=int(round(df.loc[i]['Norm reads']*300))
    for j in range(n):
        new.append(df.iloc[i][2])
        target.append(df.iloc[i][4])
        label.append(i)

In [143]:
pos = []
mm = []
seq = []
tnt = [] #target nt
ont = [] #off-target nt

for i in range(len(target)):
    if len(new[i]) ==len(target[i]):
        for j in range(24):
            pos.append(j)
            seq.append(i)
            tnt.append(target[i][j])
            ont.append(new[i][j])
            if ((new[i][j] == target[i][j]) or target[i][j]=='N'):
                mm.append(0)
            elif (target[i][j]=='-' or new[i][j]=='-'):
                mm.append(2)
            else: 
                mm.append(1)

In [145]:
p = []
m = []
n = []
d = []

for i in range(24):
    p.append(i)
    count_match=0
    count_mismatch=0
    count_indel=0
    for j in range(len(pos)):
        if (pos[j] == i and mm[j] == 0):
            count_match+=1
        elif (pos[j] == i and mm[j] == 1):
            count_mismatch+=1
        elif (pos[j] == i and mm[j] == 2):
            count_indel+=1
    m.append(count_match)
    n.append(count_mismatch)
    d.append(count_indel)

In [146]:
wt_df_out = pd.DataFrame(list(zip(p,m,n,d)), columns=['position', '#matches', '#mm','#indels'])
wt_df_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_weighted-mismatch-tol-out.xlsx', index=False, header=True)

# weighted aligned seq base-specific trend

In [161]:
pos = []
a_m = [] #mismatches when A is target nucleotide
g_m = []
t_m = []
c_m = []

for i in range(r):
        for j in range(24):
            pos.append(j)
            
            if ((df.iloc[i][4][j] == 'A') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                a_m.append(df.iloc[i][2][j])
                g_m.append(0)
                c_m.append(0)
                t_m.append(0)
            
            elif ((df.iloc[i][4][j] == 'G') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                g_m.append(df.iloc[i][2][j])
                c_m.append(0)
                t_m.append(0)
                a_m.append(0)
                
            elif ((df.iloc[i][4][j] == 'T') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                t_m.append(df.iloc[i][2][j])
                a_m.append(0)
                g_m.append(0)
                c_m.append(0)
                
            elif ((df.iloc[i][4][j] == 'C') and (df.iloc[i][4][j] != df.iloc[i][2][j])):
                c_m.append(df.iloc[i][2][j])
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            
            elif ((df.iloc[i][4][j] == 'A') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                a_m.append(1)
                c_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((df.iloc[i][4][j] == 'C') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                c_m.append(1)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)
            elif ((df.iloc[i][4][j] == 'G') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                g_m.append(1)
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
            elif ((df.iloc[i][4][j] == 'T') and (df.iloc[i][4][j] == df.iloc[i][2][j])): 
                t_m.append(1)
                c_m.append(0)
                a_m.append(0)
                g_m.append(0)
            
            else:
                c_m.append(0)
                a_m.append(0)
                t_m.append(0)
                g_m.append(0)

In [162]:
df_out = pd.DataFrame(list(zip(pos,a_m,c_m,g_m,t_m)), columns=['position', 'A_mm', 'C_mm', 'G_mm', 'T_mm'])
df_out.to_csv(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_nt-weighted-mismatch-tol-out.csv', index=False, header=True)

In [171]:
#compile base-specific trend when target has nt G at each position
T = []
A = []
G = []
C = []
I = []
D = []

for i in range(24):
    a = 0
    c = 0
    g = 0
    t = 0
    d = 0
    for j in range(len(pos)):
        if (pos[j]==i and g_m[j]!=0):
            if (g_m[j]==1): g+=1
            elif (g_m[j]=='-'): d+=1
            elif (g_m[j] == 'T'): t+=1
            elif (g_m[j] == 'C'): c+=1
            elif (g_m[j] == 'A'): a+=1
        
    I.append(i+1)
    A.append(a)
    C.append(c)
    G.append(g)
    T.append(t)
    D.append(d)

In [172]:
df_out = pd.DataFrame(list(zip(I,A,C,G,T,D)), columns=['position','A_mm', 'C_mm', 'G', 'T_mm',"indels"])
df_out.to_excel(r'D:\IIT\PhD projects\feature-free NN model\Datasets\7-subset-pos-set_G-weighted-nt-mismatch-tol-out.xlsx', index=False, header=True)